.bg-1 {
  background-image: url(IP3/assets/backgrounds/h_img.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}
.bg-2 {
  background-image: url(IP3/assets/backgrounds/s_image.jpg);
  height: 100vh;
  background-repeat: no-repeat;
}

.bg-3 {
  background-image: url(IP3/assets/backgrounds/c_image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
}
.about {
  font-size: large;
  height: 50vh;


}

.port-1 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  color: white;
  height: 80%;
  width: 80%;
}

.bigPort {
  position: relative;
}
.port-2 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  color: white;
  height: 80%;
  width: 80%;
}

.bigPort-2 {
  position: relative;
}

.port-3 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  color: white;
  height: 80%;
  width: 80%;
}
.bigPort-3 {
  position: relative;
}
.port-4 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  color: white;
  height: 80%;
  width: 80%;
}
.bigPort-4 {
  position: relative;
}
.port-5 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  color: white;
  height: 80%;
  width: 80%;
}
.bigPort-5 {
  position: relative;
}
.port-6 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  color: white;
  height: 80%;
  width: 80%;
}
.bigPort-6 {
  position: relative;
}
.port-7 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  color: white;
  height: 80%;
  width: 80%;
}
.bigPort-7 {
  position: relative;
}
.port-8 {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid white;
  color: white;
  height: 80%;
  width: 80%;
}
.bigPort-8 {
  position: relative;
}
.social {
  margin-bottom: 5%;
  margin-top: 0%;
}

.namerow {
  width: 100%;
  background-color: currentColor;
  color: white;
  opacity: .5;

}

.messagerow {
  width: 100%;
  color: white;
  background-color: currentColor;
  opacity: .5;
}































/* .portfolio {
  position: relative;
  width: 100px;
  height: 100px;
}

.portfolio:after {
  content: "";
  display: none;
  position: absolute;
  top: 0;
  width: 100px;
  height: 100px;
  background-color: white;
}
.portfolio:hover > .portfolio:after {
  display: flex;
} */
